
.vs/XecurityAPI/DesignTimeBuild/.dtbcache.v2
.vs/XecurityAPI/FileContentIndex/2a2f952c-677a-4883-91a7-6d5bf47e7808.vsidx
.vs/XecurityAPI/FileContentIndex/b459c458-b44a-4411-98c7-d3206e4eff7c.vsidx
.vs/XecurityAPI/FileContentIndex/read.lock
obj/Debug/net6.0/XecurityAPI.assets.cache
obj/Debug/net6.0/XecurityAPI.csproj.AssemblyReference.cache
obj/Debug/net6.0/XecurityAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/XecurityAPI.csproj.nuget.dgspec.json
obj/XecurityAPI.csproj.nuget.g.props
.vs/XecurityAPI/FileContentIndex/97a7b798-7a81-489a-9bd3-a0d74926e85d.vsidx
